{%extends 'base.html'%}
{%from 'macros.html' import Header,BackToTop,PreLoader,Footer,BigPicture,TeamSlide,TextSlide,Partner,TextWithPic,OptionWithSide %}


{% block content%}
    <!--header begins-->
    <header id="home" class="backstretched fullheight max-600">
        <div class="dark-overlay fullheight max-600">
            <div class="container fullheight max-600">
                <div class="jumbotron">
                    <h1><small>我们提供</small><br>
                        最优质的的教学资源</h1>
                    <p>
                        <a class="btn btn-white btn-lg page-scroll" href="#about-us" role="button">关于星插本</a>
                        <a class="btn btn-lg btn-primary btn-green page-scroll" href="#our-team" role="button">团队亮点</a>
                    </p>
                </div>
            </div>
        </div>
    </header>
    <!--header begins-->

    <section id="about-us">
        <div class="section-inner" style="padding-bottom: 40px; padding-bottom: 40px;">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">我们是谁, 实力在那？</h3>
                        <!--p class="section-sub-title">源自泮梦，走向未来</!--p>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="lead">源自泮梦，走向未来</p>
                        <p class="mb40">
                            星插本源于2014年“广州大学泮梦文化教育”<br>
                            联合历届成功插本的师兄师姐成立<br>
                            2018年改名为“星插本”<br>
                            成为广东省首家O2O专插本“互联网+”教育机构<br>
                            广东专插本专业课首选辅导中心<br>
                            优秀的师资与人性化的服务正是我们给许多同学的第一印象<br>
                            线上线下双通道培训制，完备的答疑机制，来了就踏踏实实学习，你的成绩将是你最好的回报。
                            <br>
                            
                            <img style="height: 350px; width: 250px; border: black solid 1px ;" src="https://cn.bing.com/th?id=OIP.2f0cQIG65kTuR6RTJDElVwHaKe&pid=Api&rs=1"/>
                        </p>
                        <a class="btn btn-lg btn-primary btn-green page-scroll" href="#our-team" role="button">关于团队</a>
                    </div>
                    <div class="col-md-8 col-md-offset-1">
                        <div class="row">
                            <div class="col-sm-6 wow fadeIn mb40">
                                <div class="icon-box-1 match-height mb30">
                                    <!--to check how many else icon you can use, http://themes-pixeden.com/font-demos/7-stroke/-->
                                    <i class="fa-4x pe-7s-like2"></i>
                                    <div class="content-area">
                                        <h3 class="title">经验丰富</h3>
                                        <div class="content">深耕专业课领域  全力服务考生<br>
                                            至今培训考生达1500人以上<br>
                                            辅导专业课过线率达75%以上                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn mb40">
                                <div class="icon-box-1 match-height mb30">
                                    <i class="fa-4x pe-7s-diamond"></i>
                                    <div class="content-area">
                                        <h3 class="title">优秀师资</h3>
                                        <div class="content">
                                            定向邀请插本院校相关专业的对应老师授课<br>
                                            星插本专业教研团队负责制作配套资料
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn">
                                <div class="icon-box-1 match-height mb30">
                                    <i class="fa-4x pe-7s-star"></i>
                                    <div class="content-area">
                                        <h3 class="title">混合模式授课</h3>
                                        <div class="content">
                                            线上直播与面授<br>
                                            按照学习的规律性<br>
                                            星插本采用3天制混合模式授课<br>
                                            最高效地为同学们提升考试能力
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn">
                                <div class="icon-box-1 match-height mb30">
                                    <i class="fa-4x pe-7s-cup"></i>
                                    <div class="content-area">
                                        <h3 class="title">贴心跟踪辅导</h3>
                                        <div class="content">
                                            专业且及时的题目答疑<br>
                                            成功插本师兄师姐的陪伴<br>
                                            无微不至的关怀
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="band-member-1" class="hover-shift smoothie match-height" data-mh="page-splitter">
        <div class="container" style="padding-right: 10px;">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8 col-xs-12 dark-overlay fill-right smoothie match-height"
                     data-mh="page-splitter">
                    <div class="section-inner">
                        <div class="row" style="margin-right:-52px;">
                            <div class="col-md-offset-1 col-md-10" style="text-align:right;padding-right:0px;">
                                <h3>疯 <br>狂 <br>刷 <br>题 <br></h3>
                                <!--<h5 class="section-sub-title mb40">Let us explain.</h5>
                                <p class="mb40">Holisticly orchestrate superior total linkage rather than end-to-end
                                    internal or "organic" sources. Seamlessly procrastinate client-based ROI without
                                    long-term high-impact.</p>-->
                                <a href="{{url_for('mini_program')}}" class="btn btn-primary btn-green btn-lg">小<br>程<br>序<br>详<br>情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{OptionWithSide(infos=ows_infos)}}
    <section id="our-courses">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">Popular Courses</h3>
                        <p class="section-sub-title">Hurry, they fill up quickly.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-xs-12" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-justified image-tabs" id="course-tabs" role="tablist">
                                            <li role="presentation" class="summer-term active">
                                                <a href="#summer-term" aria-controls="summer-term" role="tab"
                                                   data-toggle="tab" class="dark-overlay .half-opacity ">
                                                    <span>Summer Term</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="winter-term">
                                                <a href="#winter-term" aria-controls="winter-term" role="tab"
                                                   data-toggle="tab" class="dark-overlay .half-opacity ">
                                                    <span>Winter Term</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="online-learning">
                                                <a href="#online-learning" aria-controls="online-learning" role="tab"
                                                   data-toggle="tab" class="dark-overlay .half-opacity ">
                                                    <span>Online Learning</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <!-- Tab panes -->
                                        <div class="tab-content pt60" id="tabs-collapse">
                                            <div role="tabpanel" class="tab-pane fade in active" id="summer-term">
                                                <div class="tab-inner">
                                                    <div class="row">
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Photography for Beginners</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$199</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Proffesional Photography</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$499</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Photoshop Basics</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$199</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div role="tabpanel" class="tab-pane fade" id="winter-term">
                                                <div class="tab-inner">
                                                    <div class="row">
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Photography for Beginners</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$199</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Proffesional Photography</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$499</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Photoshop Basics</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$199</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Automotive Repair</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$249</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Photography for Beginners</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$199</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Proffesional Photography</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$499</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div role="tabpanel" class="tab-pane fade" id="online-learning">
                                                <div class="tab-inner">
                                                    <div class="row">
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Photoshop Basics</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$199</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Automotive Repair</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$249</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Photography for Beginners</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$199</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="panel-group styled-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading panel-open smoothie" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                           aria-expanded="true" aria-controls="collapseOne">Summer Special</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>Phosfluorescently e-enable multidisciplinary architectures without team driven
                                            services. Credibly innovate high-payoff alignments before resource sucking
                                            metrics. Uniquely repurpose granular synergy after tactical internal or
                                            "organic" sources. Conveniently fabricate go forward niches vis-a-vis top-line
                                            partnerships. Progressively brand 24/7 deliverables whereas diverse total
                                            linkage. Synergistically coordinate process-centric metrics vis-a-vis 24/7
                                            expertise. Uniquely plagiarize enterprise models for business bandwidth.
                                            Uniquely redefine robust networks via low-risk high-yield materials.
                                            Professionally reinvent ethical benefits rather than reliable e-commerce.
                                            Globally synergize multifunctional human capital whereas customer directed
                                            manufactured products. Rapidiously deploy open-source potentialities whereas
                                            magnetic benefits. Uniquely impact best-of-breed customer service whereas.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading smoothie" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Outdoor
                                            Persuits</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                            brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                            you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading smoothie" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Autumn
                                            Event</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>Enthusiastically disseminate bleeding-edge ROI rather than accurate results.
                                            Collaboratively scale interoperable experiences for dynamic services.
                                            Appropriately embrace web-enabled potentialities rather than proactive human
                                            capital. Distinctively mesh resource-leveling e-commerce without B2B
                                            applications. Rapidiously iterate resource sucking intellectual capital
                                            vis-a-vis alternative experiences. Dramatically exploit unique communities
                                            rather than customized customer service. Energistically pursue high standards in
                                            manufactured products after top-line expertise.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading smoothie" role="tab" id="heading-four">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse-four" aria-expanded="false" aria-controls="collapse-four">Ski
                                            Weekend</a>
                                    </h4>
                                </div>
                                <div id="collapse-four" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading-four">
                                    <div class="panel-body">
                                        <p>Enthusiastically disseminate bleeding-edge ROI rather than accurate results.
                                            Collaboratively scale interoperable experiences for dynamic services.
                                            Appropriately embrace web-enabled potentialities rather than proactive human
                                            capital. Distinctively mesh resource-leveling e-commerce without B2B
                                            applications. Rapidiously iterate resource sucking intellectual capital
                                            vis-a-vis alternative experiences. Dramatically exploit unique communities
                                            rather than customized customer service. Energistically pursue high standards in
                                            manufactured products after top-line expertise.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading smoothie" role="tab" id="heading-five">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse-five" aria-expanded="false" aria-controls="collapse-four">Books 4
                                            Kidz</a>
                                    </h4>
                                </div>
                                <div id="collapse-five" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading-five">
                                    <div class="panel-body">
                                        <p>Enthusiastically disseminate bleeding-edge ROI rather than accurate results.
                                            Collaboratively scale interoperable experiences for dynamic services.
                                            Appropriately embrace web-enabled potentialities rather than proactive human
                                            capital. Distinctively mesh resource-leveling e-commerce without B2B
                                            applications. Rapidiously iterate resource sucking intellectual capital
                                            vis-a-vis alternative experiences. Dramatically exploit unique communities
                                            rather than customized customer service. Energistically pursue high standards in
                                            manufactured products after top-line expertise.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="tlinks">Collect from <a href="#">infoinfo</a></div>


    {{TeamSlide(team_infos)}}
    {{TextSlide(infos=stu_goal_infos)}}
    {{TextWithPic(infos=text_pic_infos)}}
    {{Partner(infos=cop_infos)}}

{% endblock%}

