<!--this is macros html-->

{%macro Header()%}
<div class="nav-wrapper smoothie">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <a class="logo" href="/"><img alt="" class="logo img-responsive" src="../static/images/logo.png" ></a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                </button>
                <div class="col-xs-9">
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">首页 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{url_for('index')}}">首页</a></li>
                                    <li><a href="{{url_for('mini_program')}}">小程序</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">课程 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li><a href="{{url_for('courses_detail')}}">课程详情</a></li>
                                  <li><a href="{{url_for('single_post')}}">课程评论</a></li>
                                  <li><a href="{{url_for('single_course')}}">单个课程</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">往年回顾<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li><a href="{{url_for('former_years')}}">往年盛况</a></li>
                                  <li><a href="{{url_for('single_post')}}">往届评论</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li><a href="{{url_for('about_us')}}">关于我们</a></li>
                                  <li><a href="#">购课须知</a></li>
                                  <li><a href="#">法律声明</a></li>
                                </ul>
                            </li>
                            <li><a href="{{url_for('contact_us')}}">联系我们</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
                                <ul class="dropdown-menu">
                                    <form class="form-inline">
                                        <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="搜索">
                                    </form>
                                  </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endmacro%}

{%macro BigPicture(word,subword=' ')%}
<header id="home" class="backstretched single-page-hero" style="background-size:50% 100%">
            <div class="dark-overlay single-page-hero">
                <div class="container single-page-hero">
                    <div class="vertical-center-js text-center">
                        <h1>{{word}}</h1>
                    </div>
                    <p class="section-sub-title">{{subword}}</p>
<!--                    <p>-->
<!--                        <a class="btn btn-white btn-lg page-scroll" href="#about-us" role="button">Why?</a>-->
<!--                        <a class="btn btn-lg btn-primary btn-green page-scroll" href="#our-team" role="button">Browse-->
<!--                            Courses</a>-->
<!--                    </p>-->
                </div>
            </div>
        </header>
{%endmacro%}

{%macro Footer()%}
<section class="dark-wrapper green-wrapper">
    <div class="section-inner-60">
        <div class="container">
            <div class="row cta">
                <div class="col-sm-9">
                    <h4></h4>
                </div>
                <div class="col-sm-3 text-right">
                    <a href="{{url_for('contact_us')}}" class="btn btn-white btn-lg">联系我们，更多精彩！</a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row mb90">
            <div class="col-2">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="text-widget widget">
                        <h4 class="widget-title mb40">联系地址1</h4>
                        <div class="widget-content">
                            <p>广东省广州市广州大学城<br> 广州大学<br> 众创空间</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="text-widget widget">
                        <h4 class="widget-title mb40">联系地址2</h4>
                        <div class="widget-content">
                            <p>广东省广州市天河区<br> 中山大学<br> 二笔空间</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="useful-link-widget widget">
                        <h4 class="widget-title mb40">友情链接</h4>
                        <div class="widget-content">
                            <div class="useful-link-list">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <ul class="list-unstyled" style="width: 200px;">
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="http://www.stugd.com/">广东专插本考试网</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="http://www.scnukj.com/history">华师科教</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">专插本直通车</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">教育部</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">郝给力</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">徐峥你赢了</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--<div class="col-md-6 col-sm-6 col-xs-6">
                                        <ul class="list-unstyled">
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Company</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Latest Courses</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Partners</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Blog Post</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Help Topic</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Policies</a>
                                            </li>
                                        </ul>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="gallery-widget widget">
                        <h4 class="widget-title mb40">Gallery</h4>
                        <div class="widget-content">
                            <div class="gallery-list">
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="../static/images/blog-1.jpeg">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="../static/images/blog-2.jpg">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="../static/images/blog-3.jpg">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="../static/images/blog-4.jpeg">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="../static/images/blog-5.jpg">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="../static/images/blog-5.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 footer-social">
                <a class="qq" href="#"><i class="fa fa-qq"></i></a>
                <a class="wechat" href="#"><i class="fa fa-wechat"></i></a>
                <a class="weibo" href="#"><i class="fa fa-weibo"></i></a>
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="blog" href="#"><i class="fa fa-rss"></i></a>
                <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
            </div>
            <div class="col-md-6 text-right">
                    <a href="{{url_for('index')}}"><p class="copyright"><small>© 2019. 广州星创品质有限公司 </small></p></a>
            </div>
        </div>
    </div>
</footer>

{%endmacro%}

{%macro BackToTop()%}
<a href="#" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>
{%endmacro%}

{%macro TeamSlide(team_infos)%}
<section id="our-team" style="background-color: #699;">
    <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12" style="color: blanchedalmond;">
                        <h3 class="section-title">团队亮点</h3>
                        <p class="section-sub-title">这一切，报名星插本即可拥有</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="music-carousel" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        {%for info in team_infos[:4]%}
                                        <div class="col-md-3">
                                            <div class="hover-effect smoothie">
                                                <a href="#" class="thumbnail smoothie">
                                                    <img src="{{info.path}}" alt="Image"
                                                         class="smoothie"></a>
                                                <div class="hover-caption dark-overlay smoothie text-center">
                                                    <div class="vertical-center-js">
                                                        <h4>{{info.name}}</h4>
                                                        <p class="mb20"><small>{{info.content}}</small></p>
                                                        <a href="{{info.link}}" target="_blank" class="btn btn-primary btn-green">他是谁？</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        {% for info in team_infos[4:] %}
                                        <div class="col-md-3">
                                            <div class="hover-effect smoothie">
                                                <a href="#" class="thumbnail smoothie">
                                                    <img src="{{info.path}}" alt="Image"
                                                         class="smoothie"></a>
                                                <div class="hover-caption dark-overlay smoothie text-center">
                                                    <div class="vertical-center-js">
                                                        <h4>{{info.name}}</h4>
                                                        <p class="mb20"><small>{{info.content}}</small></p>
                                                        <a href="{{info.link}}" target="_blank" class="btn btn-primary btn-green">他是谁？</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            <a data-slide="prev" href="#music-carousel" class="left carousel-control"><i
                                    class="fa fa-long-arrow-left"></i></a>
                            <a data-slide="next" href="#music-carousel" class="right carousel-control"><i
                                    class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{%endmacro%}

{%macro TextSlide(infos,title='学员成就',subtitle='优秀、热情、高效')%}
<section id="promo-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4 dark-overlay col-md-offset-8 fill-right">
                    <div class="section-inner">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10">
                                <h3 class="section-title">{{title}}</h3>
                                <p class="section-sub-title">{{subtitle}}</p>
                                <div class="carousel slide" data-ride="carousel" id="testimonial-carousel">
                                    <ol class="carousel-indicators">
                                        <li class="active" data-slide-to="0" data-target="#testimonial-carousel"></li>
                                        <li data-slide-to="1" data-target="#testimonial-carousel"></li>
                                        <li data-slide-to="2" data-target="#testimonial-carousel"></li>
                                    </ol>

                                    <div class="carousel-inner">
                                        {% for info in infos %}
                                        {% if loop.index==1 %}
                                        <div class="item active">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p>{{info.content}}</p><small><strong>{{info.name}}</strong></small>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p>{{info.content}}</p><small><strong>{{info.name}}</strong></small>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endmacro%}

{% macro OptionWithSide(infos,title='待开发',subtitle='副标题')%}
<section id="our-courses">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">Popular Courses</h3>
                        <p class="section-sub-title">Hurry, they fill up quickly.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-xs-12" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-justified image-tabs" id="course-tabs" role="tablist">
                                            <li role="presentation" class="summer-term active">
                                                <a href="#summer-term" aria-controls="summer-term" role="tab"
                                                   data-toggle="tab" class="dark-overlay .half-opacity ">
                                                    <span>Summer Term</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="winter-term">
                                                <a href="#winter-term" aria-controls="winter-term" role="tab"
                                                   data-toggle="tab" class="dark-overlay .half-opacity ">
                                                    <span>Winter Term</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="online-learning">
                                                <a href="#online-learning" aria-controls="online-learning" role="tab"
                                                   data-toggle="tab" class="dark-overlay .half-opacity ">
                                                    <span>Online Learning</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <!-- Tab panes -->
                                        <div class="tab-content pt60" id="tabs-collapse">
                                            <div role="tabpanel" class="tab-pane fade in active" id="summer-term">
                                                <div class="tab-inner">
                                                    <div class="row">
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Photography for Beginners</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$199</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Proffesional Photography</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$499</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Photoshop Basics</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$199</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div role="tabpanel" class="tab-pane fade" id="winter-term">
                                                <div class="tab-inner">
                                                    <div class="row">
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Photography for Beginners</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$199</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Proffesional Photography</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$499</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Photoshop Basics</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$199</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Automotive Repair</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$249</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Photography for Beginners</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$199</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Proffesional Photography</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$499</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div role="tabpanel" class="tab-pane fade" id="online-learning">
                                                <div class="tab-inner">
                                                    <div class="row">
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Photoshop Basics</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$199</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Automotive Repair</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$249</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mb40">
                                                            <div class="row">
                                                                <div class="col-sm-10 col-xs-12">
                                                                    <h5><span>Photography for Beginners</span></h5>
                                                                    <p class="lead">16 week course.</p>
                                                                    <p class="mb20">Proactively parallel task vertical
                                                                        products for collaborative ideas. Monotonectally
                                                                        visualize functional functionalities vis-a-vis
                                                                        efficient products. Globally matrix bleeding-edge
                                                                        e-business with professional.</p>
                                                                    <a href="single-course.html"
                                                                       class="btn btn-primary btn-green">View Details</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12 text-right">
                                                                    <h1><span>$199</span></h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="panel-group styled-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading panel-open smoothie" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                           aria-expanded="true" aria-controls="collapseOne">Summer Special</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>Phosfluorescently e-enable multidisciplinary architectures without team driven
                                            services. Credibly innovate high-payoff alignments before resource sucking
                                            metrics. Uniquely repurpose granular synergy after tactical internal or
                                            "organic" sources. Conveniently fabricate go forward niches vis-a-vis top-line
                                            partnerships. Progressively brand 24/7 deliverables whereas diverse total
                                            linkage. Synergistically coordinate process-centric metrics vis-a-vis 24/7
                                            expertise. Uniquely plagiarize enterprise models for business bandwidth.
                                            Uniquely redefine robust networks via low-risk high-yield materials.
                                            Professionally reinvent ethical benefits rather than reliable e-commerce.
                                            Globally synergize multifunctional human capital whereas customer directed
                                            manufactured products. Rapidiously deploy open-source potentialities whereas
                                            magnetic benefits. Uniquely impact best-of-breed customer service whereas.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading smoothie" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Outdoor
                                            Persuits</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                            brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                            you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading smoothie" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Autumn
                                            Event</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>Enthusiastically disseminate bleeding-edge ROI rather than accurate results.
                                            Collaboratively scale interoperable experiences for dynamic services.
                                            Appropriately embrace web-enabled potentialities rather than proactive human
                                            capital. Distinctively mesh resource-leveling e-commerce without B2B
                                            applications. Rapidiously iterate resource sucking intellectual capital
                                            vis-a-vis alternative experiences. Dramatically exploit unique communities
                                            rather than customized customer service. Energistically pursue high standards in
                                            manufactured products after top-line expertise.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading smoothie" role="tab" id="heading-four">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse-four" aria-expanded="false" aria-controls="collapse-four">Ski
                                            Weekend</a>
                                    </h4>
                                </div>
                                <div id="collapse-four" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading-four">
                                    <div class="panel-body">
                                        <p>Enthusiastically disseminate bleeding-edge ROI rather than accurate results.
                                            Collaboratively scale interoperable experiences for dynamic services.
                                            Appropriately embrace web-enabled potentialities rather than proactive human
                                            capital. Distinctively mesh resource-leveling e-commerce without B2B
                                            applications. Rapidiously iterate resource sucking intellectual capital
                                            vis-a-vis alternative experiences. Dramatically exploit unique communities
                                            rather than customized customer service. Energistically pursue high standards in
                                            manufactured products after top-line expertise.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading smoothie" role="tab" id="heading-five">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse-five" aria-expanded="false" aria-controls="collapse-four">Books 4
                                            Kidz</a>
                                    </h4>
                                </div>
                                <div id="collapse-five" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading-five">
                                    <div class="panel-body">
                                        <p>Enthusiastically disseminate bleeding-edge ROI rather than accurate results.
                                            Collaboratively scale interoperable experiences for dynamic services.
                                            Appropriately embrace web-enabled potentialities rather than proactive human
                                            capital. Distinctively mesh resource-leveling e-commerce without B2B
                                            applications. Rapidiously iterate resource sucking intellectual capital
                                            vis-a-vis alternative experiences. Dramatically exploit unique communities
                                            rather than customized customer service. Energistically pursue high standards in
                                            manufactured products after top-line expertise.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}

{%macro TextWithPic(infos,title='待开发',subtitle='副标题')%}
<section class="silver-wrapper" id="the-gallery">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">{{title}}</h3>
                        <p class="section-sub-title">{{subtitle}}</p>
                    </div>
                </div>
                <div class="row">
                    {%for info in infos%}
                    <div class="col-sm-6 match-height mb40">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="hover-effect smoothie">
                                    <a href="#" class="smoothie">
                                        <img src="{{info.src}}" alt="Image" class="img-responsive smoothie">
                                    </a>
                                    <div class="hover-caption dark-overlay smoothie text-center">
                                        <div class="vertical-center-js">
                                            <a href="{{info.href}}" class="btn btn-primary btn-green">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="mt0"><a href="{{info.href}}">{{info.name}}</a></h3>
                                <p class="mb20">{{info.content}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endmacro%}

{% macro Partner(infos,title='合作伙伴&合作院校') %}
    <section>
        <div class="section-inner" style="padding-top:60px; padding-bottom:60px;">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">{{title}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-sm-offset-1">
                        <div class="row">
                            {%for info in infos%}
                                <div class="col-md-3">
                                    <img class="img-responsive" src="{{info.path}}" style="margin:10%; height:40%; width:40%;">
                                    <span>{{info.name}}</span>
                                </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}


{%macro PreLoader()%}
<div class="preloader">
    <div class="preloader-img">
        <span class="loading-animation animate-flicker"><img src="../static/images/loading.gif" alt="loading"/></span>
    </div>
</div>
{%endmacro%}