{%extends 'base.html'%}
{%from 'macros.html' import Header,BackToTop,PreLoader,Footer,BigPicture %}

{% block content%}
    {{BigPicture('news in a grid format','subtitle')}}
    <!--grid format-->
    <section id="our-courses1">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb40 match-height">
                            <div class="hover-effect smoothie">
                                <a href="#" class="smoothie">
                                <img src="../static/images/blog-1.jpeg" alt="Image" class="img-responsive smoothie"></a>
                                <div class="hover-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <h4>Student Reaches Goal</h4>
                                    </div>
                                </div>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <p class="mb20"><small>Credibly monetize empowered portals before distinctive methodologies. Distinctively customize multifunctional metrics before accurate technologies. Energistically matrix cooperative sources rather than virtual supply chains.</small></p>
                                        <a href="single-team.html" class="btn btn-primary btn-green">View Article</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb40 match-height">
                            <div class="hover-effect smoothie">
                                <a href="#" class="smoothie">
                                <img src="../static/images/blog-2.jpg" alt="Image" class="img-responsive smoothie"></a>
                                <div class="hover-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <h4>Unique Skills</h4>
                                    </div>
                                </div>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <p class="mb20"><small>Credibly monetize empowered portals before distinctive methodologies. Distinctively customize multifunctional metrics before accurate technologies. Energistically matrix cooperative sources rather than virtual supply chains.</small></p>
                                        <a href="single-team.html" class="btn btn-primary btn-green">View Article</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb40 match-height">
                            <div class="hover-effect smoothie">
                                <a href="#" class="smoothie">
                                <img src="../static/images/blog-3.jpg" alt="Image" class="img-responsive smoothie"></a>
                                <div class="hover-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <h4>Summer Jams</h4>
                                    </div>
                                </div>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <p class="mb20"><small>Credibly monetize empowered portals before distinctive methodologies. Distinctively customize multifunctional metrics before accurate technologies. Energistically matrix cooperative sources rather than virtual supply chains.</small></p>
                                        <a href="single-team.html" class="btn btn-primary btn-green">View Article</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb40 match-height">
                            <div class="hover-effect smoothie">
                                <a href="#" class="smoothie">
                                <img src="../static/images/blog-4.jpeg" alt="Image" class="img-responsive smoothie"></a>
                                <div class="hover-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <h4>Spring Break</h4>
                                    </div>
                                </div>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <p class="mb20"><small>Credibly monetize empowered portals before distinctive methodologies. Distinctively customize multifunctional metrics before accurate technologies. Energistically matrix cooperative sources rather than virtual supply chains.</small></p>
                                        <a href="single-team.html" class="btn btn-primary btn-green">View Article</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb40 match-height">
                            <div class="hover-effect smoothie">
                                <a href="#" class="smoothie">
                                <img src="../static/images/blog-5.jpg" alt="Image" class="img-responsive smoothie"></a>
                                <div class="hover-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <h4>Why Choose Us?</h4>
                                    </div>
                                </div>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <p class="mb20"><small>Credibly monetize empowered portals before distinctive methodologies. Distinctively customize multifunctional metrics before accurate technologies. Energistically matrix cooperative sources rather than virtual supply chains.</small></p>
                                        <a href="single-team.html" class="btn btn-primary btn-green">View Article</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb40 match-height">
                            <div class="hover-effect smoothie">
                                <a href="#" class="smoothie">
                                <img src="../static/images/blog-6.jpg" alt="Image" class="img-responsive smoothie"></a>
                                <div class="hover-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <h4>Student Matters</h4>
                                    </div>
                                </div>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <p class="mb20"><small>Credibly monetize empowered portals before distinctive methodologies. Distinctively customize multifunctional metrics before accurate technologies. Energistically matrix cooperative sources rather than virtual supply chains.</small></p>
                                        <a href="single-team.html" class="btn btn-primary btn-green">View Article</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--list format-->
    <section id="our-courses2">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mb40">
                        	<div class="row">
                        		<div class="col-xs-4">
		                            <div class="hover-effect smoothie mb40">
		                                <a href="#" class="smoothie">
		                                <img src="../static/images/blog-1.jpeg" alt="Image" class="img-responsive smoothie"></a>
		                                <div class="hover-caption dark-overlay smoothie text-center">
		                                    <div class="vertical-center-js">
		                                        <a href="single-post.html" class="btn btn-primary btn-green">View Article</a>
		                                    </div>
		                                </div>
		                            </div>
	                            </div>
	                            <div class="col-xs-8">
		                            <h2 class="mt0 mb40">Student Reaches Goal</h2>
		                            <p class="mb20"><small>Rapidiously communicate prospective meta-services via bricks-and-clicks markets. Continually orchestrate highly efficient outsourcing via market-driven manufactured products. Efficiently mesh turnkey testing procedures via plug-and-play communities. Uniquely re-engineer low-risk high-yield technology for enterprise results. Rapidiously revolutionize enterprise functionalities without technically sound mindshare. Globally strategize high-payoff web-readiness rather than resource-leveling paradigms. Collaboratively exploit competitive methods of empowerment after revolutionary convergence. Monotonectally exploit web-enabled processes with pandemic users. Interactively develop market-driven resources for innovative communities.</small></p>
		                            <a href="single-team.html" class="btn btn-primary btn-green">View Article</a>
	                            </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb40">
                        	<div class="row">
                        		<div class="col-xs-4">
		                            <div class="hover-effect smoothie mb40">
		                                <a href="#" class="smoothie">
		                                <img src="../static/images/blog-2.jpg" alt="Image" class="img-responsive smoothie"></a>
		                                <div class="hover-caption dark-overlay smoothie text-center">
		                                    <div class="vertical-center-js">
		                                        <a href="single-post.html" class="btn btn-primary btn-green">View Article</a>
		                                    </div>
		                                </div>
		                            </div>
	                            </div>
	                            <div class="col-xs-8">
		                            <h2 class="mt0 mb40">Student Reaches Goal</h2>
		                            <p class="mb20"><small>Rapidiously communicate prospective meta-services via bricks-and-clicks markets. Continually orchestrate highly efficient outsourcing via market-driven manufactured products. Efficiently mesh turnkey testing procedures via plug-and-play communities. Uniquely re-engineer low-risk high-yield technology for enterprise results. Rapidiously revolutionize enterprise functionalities without technically sound mindshare. Globally strategize high-payoff web-readiness rather than resource-leveling paradigms. Collaboratively exploit competitive methods of empowerment after revolutionary convergence. Monotonectally exploit web-enabled processes with pandemic users. Interactively develop market-driven resources for innovative communities.</small></p>
		                            <a href="single-team.html" class="btn btn-primary btn-green">View Article</a>
	                            </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb40">
                        	<div class="row">
                        		<div class="col-xs-4">
		                            <div class="hover-effect smoothie mb40">
		                                <a href="#" class="smoothie">
		                                <img src="../static/images/blog-3.jpg" alt="Image" class="img-responsive smoothie"></a>
		                                <div class="hover-caption dark-overlay smoothie text-center">
		                                    <div class="vertical-center-js">
		                                        <a href="single-post.html" class="btn btn-primary btn-green">View Article</a>
		                                    </div>
		                                </div>
		                            </div>
	                            </div>
	                            <div class="col-xs-8">
		                            <h2 class="mt0 mb40">Student Reaches Goal</h2>
		                            <p class="mb20"><small>Rapidiously communicate prospective meta-services via bricks-and-clicks markets. Continually orchestrate highly efficient outsourcing via market-driven manufactured products. Efficiently mesh turnkey testing procedures via plug-and-play communities. Uniquely re-engineer low-risk high-yield technology for enterprise results. Rapidiously revolutionize enterprise functionalities without technically sound mindshare. Globally strategize high-payoff web-readiness rather than resource-leveling paradigms. Collaboratively exploit competitive methods of empowerment after revolutionary convergence. Monotonectally exploit web-enabled processes with pandemic users. Interactively develop market-driven resources for innovative communities.</small></p>
		                            <a href="single-team.html" class="btn btn-primary btn-green">View Article</a>
	                            </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb40">
                        	<div class="row">
                        		<div class="col-xs-4">
		                            <div class="hover-effect smoothie mb40">
		                                <a href="#" class="smoothie">
		                                		<img src="../static/images/blog-4.jpeg" alt="Image" class="img-responsive smoothie">
                                		</a>
		                                <div class="hover-caption dark-overlay smoothie text-center">
		                                    <div class="vertical-center-js">
		                                        <a href="single-post.html" class="btn btn-primary btn-green">View Article</a>
		                                    </div>
		                                </div>
		                            </div>
	                            </div>
	                            <div class="col-xs-8">
		                            <h2 class="mt0 mb40">Student Reaches Goal</h2>
		                            <p class="mb20"><small>Rapidiously communicate prospective meta-services via bricks-and-clicks markets. Continually orchestrate highly efficient outsourcing via market-driven manufactured products. Efficiently mesh turnkey testing procedures via plug-and-play communities. Uniquely re-engineer low-risk high-yield technology for enterprise results. Rapidiously revolutionize enterprise functionalities without technically sound mindshare. Globally strategize high-payoff web-readiness rather than resource-leveling paradigms. Collaboratively exploit competitive methods of empowerment after revolutionary convergence. Monotonectally exploit web-enabled processes with pandemic users. Interactively develop market-driven resources for innovative communities.</small></p>
		                            <a href="single-team.html" class="btn btn-primary btn-green">View Article</a>
	                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock%}



